TinapatLimsila.aux
TinapatLimsila.fdb_latexmk
TinapatLimsila.fls
TinapatLimsila.log
TinapatLimsila.synctex.gz
/.vscode
TinapatLimsilaCV.aux
TinapatLimsilaCV.fdb_latexmk
TinapatLimsilaCV.fls
TinapatLimsilaCV.log
TinapatLimsilaCV.synctex.gz
.DS_Store
